﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="XML.aspx.cs" Inherits="ADONETWebFormDemo.XML" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <asp:GridView ID="GridView1" runat="server">
        </asp:GridView>
        <div>
            <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Load" />
        </div>
    </form>
</body>
</html>
